/* Navigation Bar */

.navbar {
    background-color: #4f4f4f;
    color: #efefef;
    font-family: Avantgarde, sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 4px;
    text-transform: uppercase;
    z-index: 2;
    position: fixed;
    margin-bottom: 0;
    border: transparent;
    width: 100%;
}

.navbar li a,
.navbar .navbar-brand {
    color: #efefef !important;
}

.navbar .navbar-brand {
    margin-top: 4px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #8fdfef !important;
    font-weight: 200 !important;
    background-color: #3f3f3f !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #efefef !important;
}


/* Jumbotron/Home Page */

.jumbotron {
    background-image: url('http://i.imgur.com/L1vUROX.jpg');
    height: 705px;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #efefef;
    border: transparent;
    margin-bottom: 0px !important;
}

.jumbotron .container {
    position: relative;
    top: 150px;
}

.jumbotron h1 {
    outline: none;
    margin: 30px;
    font-size: 70px;
    text-align: center;
}

.jumbotron p {
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
}

.jumbotron ul {
    margin-top: 30px;
    text-align: center;
}

.jumbotron li {
    font-size: 16px;
}


/* About Me */

.about-me {
    background-color: #6f6f6f;
    height: 705px;
}

.about-me .container {
    position: relative;
    top: 100px;
    bottom: 100px;
    text-align: center;
    font-style: normal;
}
.about-me img {
    height: 200px;
    margin-bottom: 30px;
}

.about-me p {
    font-family: Avantgarde, sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: #efefef;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-right: 120px;
}


/* Services */

.services {
    background-image: url('http://i.imgur.com/BLvY4RC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cfcfcf;
    border: transparent;
    height: 705px;
}

.services .container {
    position: relative;
    top: 120px;
    bottom: 120px;
    text-align: center;
    font-style: normal;
}

.services h3 {
    font-family: Verdana, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #6f6f6f;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    border: 2px;
    border-color: #efefef;
    margin-right: 220px;
    margin-bottom: 140px;
}

.services h5 {
    font-family: Avantgarde, sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: #ffffff;
    opacity: 1 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 80px;
}

.services p {
    font-family: Avantgarde, sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    opacity: 1 !important;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.services .container .row .col-sm-6 .service {
    background-color: #7f7f7f;
    opacity: 0.8;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    border-color: #8f8f8f;
    width: 350px;
    height: 220px;
/*    box-shadow: 8px 8px 5px #888888*/
}


/* Projects */

.projects {
    background-color: #cfcfcf;
    border: transparent;
    height: 1000px;
}

.projects .container {
    position: relative;
    top: 120px;
    bottom: 100px;
    text-align: center;
    font-style: normal;
}

/* Contact */
.contact {
    background-color: #6f6f6f;
    border: transparent;
    height: 705px;
}

.contact .container {
    position: relative;
    top: 120px;
    bottom: 100px;
    text-align: center;
    font-style: normal;
}
.contact h3 {
    font-family: Verdana, sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #efefef;
    letter-spacing: 4px;
    text-transform: uppercase;  
    margin-bottom: 40px;
}
.contact h5 {
    font-family: Avantgarde, sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: #8fdfef;
    text-transform: uppercase;
    margin-bottom: 40px;
}


/* Footer */
.footer {
    background-image: url('http://i.imgur.com/XE06GMb.jpg');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    border: transparent;
    height: 300px;
}

.footer .container {
    position: relative;
    top: 60px;
    bottom: 60px;
    text-align: center;
    font-style: normal;
}

.footer h6 {
    font-family: Avantgarde, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #5f5f5f;
    margin-bottom: 10px;
}

.footer p {
    font-family: Avantgarde, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #5f5f5f;
    text-transform: uppercase;
    margin-top: 15px;
}